

footer {
    background-color: #73434B;
    height: 300px;

    margin-top: 30px;

}

body {
    background-color: #f9f9f8;
}


section {
    margin-bottom: 5em;
}

article {
    margin-bottom: 2em;
}


/*Submit-button*/
.btn_submit {
    color: white;
    background-color: #73434B;
    border: none;
    font-size: 3.5rem;
    padding: .2em .5em;
    text-transform: uppercase;
}


button:hover, #btn_small:hover {
    background-color: #A6831B;
}



/*White box*/
.box {
    width: 20em;
    height: 20em;
    background-color: white;
    border: none;
    box-shadow: 0 0 3px 0px rgba(51, 51, 51, .42);
}

/*tags*/
.tag, .tag_checked, .tag_sale {
    border: 4px solid #2F3659;
    display: inline-flex;
    padding: 1em;
    border-radius: 30%;
}

.tag_checked {
    background-color: #A6831B;
    color: white;
}

.tag_sale {
    border-radius: 50%;
    background-color: #C1272D;
    color: white;
}

/*Color circles*/

.clr_large, .clr_small {
    border: none;
    background-color: #A6831B;
    border-radius: 50%;
}

.clr_large {
    width: 5em;
    height: 5em;
}

.clr_small {
    width: 2em;
    height: 2em;
}

/*Filter box*/

.filter_container {
    width: 40em;
    height: 5em;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Menu*/
#menu {
    width: 80%;
    background-color: #707312;
    color: white;    
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}

.menu_list {
    list-style-type: none;
    line-height: 6em;
    padding: 1em;
}

.menu_list li:hover {
    color: #2F3659;
}

#menu_x {
    position: relative;
    top: 2em;
    right: -1em;
}


/*icons*/
.icon {
    width: 3em;
    height: 3em;
} 

/*banner*/
.banner {
    background-color: #A6831B;
    padding: 1em;
    text-align: center;
    width: 60%;
}

/*Input - newsletter*/
#news_wrap {
    width: 100%;
    height: 6em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:
   
}

#inpNews {
    width: 100%;
    position: absolute;
    font-size: 1.8rem;
    z-index: 1;
    height: 100%;
    padding: .3em;
}

#btn_small {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 40%;
    background-color: #707312;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    border: none;
    
}

#some_icons {
    position: relative;
    top: 7em;
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;
   
}

.some_circle {
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}