header {
    width: 100%;
    height: 30em;
    
    
}



#inp_search {
    font-family: "Exo 2";
    font-size: 3rem;
    border: none;
    border-bottom: 4px solid #2F3659;
    color: #2F3659;
    background-color: #f9f9f8;
    width: 50%;
}

#search {
    width: 5em;
    height: 5em;
    margin-right: 3em;
}

#header_top {
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 351px;
    height: 85px;
    margin-left: 5em;
    
}

#symbols {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;
}

nav {
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

#search_wrapper {
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline;
    padding: .5em;
}


footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.foot_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 20em;
    margin-top: 5em;
}

#logo_neg {
    width: 200px;
    height: 60px;
    margin-bottom: 1.5em;
}

#mar, #mar2 {
    margin-left: 2.8em;
}

#inpNews {
    top: 5em;
}

#btn_small {
    top: 4.5em;
    right: 0;
   
}

#news_wrap {
    width: 23vw;   
}

#some_icons {
    top: 12em;
}

#about {
    width: 23vw;
    align-self: center;
    text-align: center;

}