header {
    width: 100%;
    height: 30em;
    
    
}

#header_top {
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 351px;
    height: 85px;
    margin-left: 5em;
    
}

#symbols {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-right: 5em;
}

nav {
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline;
    padding: .5em;
}


footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.foot_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 20em;
    margin-top: 5em;
}

#logo_neg {
    width: 200px;
    height: 60px;
    margin-bottom: 1.5em;
}

#mar, #mar2 {
    margin-left: 2.8em;
}

#inpNews {
    top: 5em;
}

#btn_small {
    top: 4.5em;
    right: 0;
   
}

#news_wrap {
    width: 23vw;   
}

#some_icons {
    top: 12em;
}

#about {
    width: 23vw;
    align-self: center;
    text-align: center;

}