* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    background-color: #f9f9f8;
}

body {
    display: flex;
    flex-direction: column;
    
    
    
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.footer_ul {
    list-style-type: none;
    line-height: 28px;
}