.thumb_img {
    width: 10em;
    height: 15em;
}

#main_img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

#arrow_l, #arrow_r {
    width: 3em;
    height: 4em;
    
}

#det_remove {
    position: relative;
    left: 30em;
}

#arrows {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position:relative;
    top: -20em;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2em;
    width: 80%;
    height: auto;
    position: absolute;
    right: 200em;
    top: 0;
    padding: 2em;
    opacity: .5;
    margin: 0 auto;
    justify-content: center;

}

#column1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    
}

#putIncartBtn {
    width: 100%;
}

.buyThis {
    width: 100%;
}

#column2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: column;
}

.clr_label {
    background-color: red;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.clr_label:hover {
    border: 4px solid #333333;
}

.clr_wrap {
    display: flex;
    width: 100%;
    margin-bottom: 2em;
}

input[type=radio] {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    background-color: purple;
}
input[type=radio] + label{
    width: 50px;
    height: 50px;
    
}
input[type=radio]:checked + label{
    border: 4px solid red;
    
}

#details {
    width: 90%;
    height: auto;
    margin: 0 .5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.pH3, #sizes {
    margin: .5em;
}

#putIncartBtn {
    margin-top: 1em;
}

#column2 {
    margin-left: 3em;
}

#product_heading, #ingress, #price {
    margin-bottom: .5em;
}