#content-wrap {
    display: grid;
    grid-template-columns: 30%, 70%;
    
    column-gap: 2em;
    grid-auto-flow: row;
}

#filter-wrap {
    display: flex;
    grid-column: 1 / span 1;
}



#tag-wrap {
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-4em;
}

#products-grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / span 1;
    
}





.product {
    margin: 1em;
}

#cart_section {
    position: absolute;
    display: none;

}

#colorWrap {
    display: flex;
}

#overlay {
    width: 100%;
    height: 400vh;
    position: absolute;
    z-index: -1;
}

.radio_clr {
    margin-bottom: 2em;
}