.thumb_img {
    width: 15em;
    height: 20em;
}

#main_img {
    width: 100%;
    height: 40em;
}

#arrow_l, #arrow_r {
    width: 3em;
    height: 4em;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}